/* Page */
.page {
  --transition-duration: 0.25s;
  background:  var(--background-image) var(--background-color) no-repeat top center;
  background-color: var(--main-section-color);
  background-size: auto 668px;
  background-attachment: fixed;
  color: var(--main-text-color);
  transition-duration: var(--transition-duration);
}

@media (768px <= width < 1024px ) {
  .page {
    background-size: auto 1024px;
  } 
}

@media (1024px <= width <= 2550px ) {
  .page {
    background-size: auto 768px;
  } 
}

/*header*/
.header {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  min-height: 688px;
  inline-size: 100%;
  padding: 10px;
}

@media (768px <= width <= 2550px) {
  .header {
    padding: 20px;
  }
}

@media (1024px <= width <=2550px) {
  .header {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
}

/*rec and decor*/
.rec {
  position: absolute;
  color: var(--rec-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  text-align: center; 
  text-transform: uppercase;
  top: 10px;
  right: 38px;
}

@media (768px <= width <= 2550px) {
  .rec {
    top: 20px;
    right: 49px;
  }
}

.rec::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: -5px -20px 0 0;
  box-shadow: 0 0 4px 2px var(--rec-color);
  background-color: var(--rec-color);
  top: 50%;
  right: 0;
}

/*switch bottom*/
.header__theme-menu {
  display: flex;
  justify-content: end;
  margin: 65px 0px 0px 0px;
}

@media (768px <= width < 1024px) {
  .header__theme-menu {
    display: flex;
    margin: 172px 0px 0px 0px;
  }
}

@media (1024px <= width <=2550px) {
  .header__theme-menu {
    display: flex;
    grid-area: 1 / 2 / 1 / 2;
    justify-content: center;
    align-items: start;
    margin: 0px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
}

@media (1024px <= width <=2550px) {
  .header__theme-menu-list {
  flex-direction: row;
  align-items: flex-end;
  }
}

.header__theme-menu-button {
  font-size: 18px;
  font-weight: 400;
  color: var(--border-color);
  line-height: 100%;
  padding: 2.5px 12px;
  border: transparent;
  background: none;
  font-family: var(--font-family);
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

/*active buttons*/
.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
  outline: none;
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--border-color);
  outline: none;
  box-shadow:none;  
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--hover-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
  pointer-events: none;
  outline: none;
} 

/*header title*/
.header__title-container {
  display: flex;
  align-items: center;
  margin: 65px 0px 0px 0px;
}

@media (768px <= width < 1024px) {
  .header__title-container {
    align-items: start;
    margin: 174.5px 0px 0px -20px;
  }
}

@media (1024px <= width <=2550px) {
  .header__title-container {
    align-items: start;
    grid-area: 2 / 1 / 2 / 4 ;
    margin: 55px 0px 0px -20px;
  }
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow);
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
}

@media (768px <= width <= 2550px) {
  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/*header text*/
.header__text-container {
  margin: 58px 0px 0px 0px;
  background-color: var(--main-text-shadow);
  color: var(--more-text-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
  max-width: 355px;
  width: 100%;
}

@media (768px <= width < 1024px) { 
  .header__text-container {
    margin: 162px 0px 163px 364px;
    max-width: 364px;
  }
}

@media (1024px <= width <= 2550px) { 
  .header__text-container  {
    max-width: 491px;
    width: 100%;
    max-height: 71px;
    height: 100%;
    grid-area: 3 / 1 / 3 / 4;
    margin: 56px 0px 0px 493px;
  }
}

/*border*/ 
.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  left: 10px;
  bottom: 30px;
}

@media (768px <= width < 1024px) {   
  .decorated-zone::before {
    left: 20px;
    bottom: 20px; 
  }
}

@media (1024px <= width <= 2550px) {   
  .decorated-zone::before {
    left: 20px;
    top: 723px; 
  }
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  right: 10px;
  top: 10px;
}

@media (768px <= width < 2550px) {   
  .decorated-zone::after {
    right: 20px;
    top: 20px; 
  }
}
/*main section*/

.content {
  padding: 0px 10px;
}

@media (768px <= width <=2550px) {
  .content {
    padding: 0px 20px;
  }
}

/*section num1*/
.main__header-section {
  margin: 20px 0px 0px 0px;
}

@media (768px <= width < 1024px) { 
  .main__header-section  {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(1, 1fr);
    margin: 40px 0px 0px 0px;
  }
}

@media (1024px <= width <=2550px) {
  .main__header-section {
    display: grid;
    grid-template-columns: 34% 66%;
    grid-template-rows: repeat(1, 1fr);
    margin: 40px 0px 0px 0px;
  }
}

.section__title-first {
  color: var(--border-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

@media (768px <= width < 1024px) { 
  .section__title-first  {
    margin: 20px 20px 0px 0px;
  }
}

@media (1024px <= width <=2550px) {
  .section__title-first {
    margin: 20px 0px 50px 0px;
  }
}

.main__title-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px 50px 0px;
}

.main__title-text {
  margin: 0px 0px 10px 0px;
  color: var(--more-text-color);
  background-color: var(--main-text-shadow);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.main__article-text {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px; 
}

/*section num2*/
.main__second-section {
  margin: 0px 0px 0px 0px;
}

@media (768px <= width < 1024px) { 
  .main__second-section  {
    margin: 10px 0px 60px 0px;
  }
}

@media (1024px <= width <=2550px) {
  .main__second-section {
    margin: 0px;
  }
}

.section__title-second {
  color: var(--border-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

@media (768px <= width < 1024px) { 
  .section__title-second  {
    margin: 30px 512px 0px 0px;
  }
}

@media (1024px <= width <=2550px) {
  .section__title-second {
    margin: 30px 689px 0px 0px;
  }
}

.main__title-container-special {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0px 50px 0px;  
}

@media (1024px <= width <= 2550px) {
  .main__title-container-special  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px 0px 0px 0px;
  }
}

/*section num3*/
.main__third-section {
  margin: 0px;
}

.title__article-list-text {
  margin: 20px 0px 0px 0px;
  color: var(--more-text-color);
  background-color: var(--main-text-shadow);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

.main__title-text-more {
  color: var(--more-text-color);
  background-color: var(--main-text-shadow);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.4px;
  margin: 20px 0px 10px 0px;
}

@media (768px <= width < 1024px) { 
  .main__third-section  {
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (1024px <= width <= 2550px) {
  .main__third-section {
    display: grid;
    grid-template-columns: 34% 66%;
    margin: 60px 0px 0px 0px;
  }
}

.section__title-third {
  color: var(--border-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}

@media (768px <= width < 1024px) { 
  .section__title-third  {
    margin: 20px 0px 0px 0px;
  }
}

@media (1024px <= width <= 2550px) {
  .section__title-third {
    margin: 20px 0px 50px 0px;
  }
}

/*section 4*/

.main__footer-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__footer-title {
  margin: 50px 0px 0px 0px;
  color: var(--more-text-color);
  background-color: var(--main-text-shadow);
  font-family: var(--font-family);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4px;
}
 
@media (768px <= width <= 1024px) {
  .main__footer-title {
    margin: 79px 0px 10px 0px;
  }
}

/*active links*/
.section__article-text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--link-shadow);
  transition-duration: var(--transition-duration);
}

.section__article-text-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

/* photo */
.main__photo-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (768px <= width < 1024px) {
.main__photo-section {
    display: grid;
    grid-template-columns: minmax(230px, 1fr);
    grid-template-rows: minmax(20px, 1fr);
    gap: 20px;
  }
} 

@media (1024px <= width <= 2550px) {
  .main__photo-section {
    display: grid;
    grid-template-columns: minmax(316px, 1fr);
    grid-template-rows: minmax(20px, 1fr);
    gap: 20px 18px;
  }
} 

@media (768px <= width <= 2550px) {
.section__image-first {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: 1 / 1 / 1 / 3;
  }
}

@media (768px <= width <= 2550px) {
.section__image-second {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: 1 / 3 / 3 / 3;
  }
}

@media (768px <= width <= 2550px) {
.section__image-trird {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: 2 / 1 / 4 / 2;
  }
}
  
@media (768px <= width < 2550px) {
  .section__image-fourth {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: 2 / 2 / 2 / 2;
  }
}

@media (768px <= width < 2550px) { 
.section__image-fifth {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: 3 / 2 / 3 / 4;
  }
}

/*footer*/
.footer {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  block-size: 100vh;
  inline-size: 100%;
  justify-content: center;
  margin: 30px 0px 0px 0px;
  padding: 10px;
  min-height: 680px;
}

 @media (768px <= width < 2550px){
  .footer {
    margin: 60px 0px 0px 0px;
  }
 }

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow);
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-style: normal;
  font-weight: 700;
  line-height: 82.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 2 / 2 / 2;
}

@media (768px <= width <= 2550px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/*border*/
.footer__decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-left: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  left: 10px;
  top: 6735px;
}

@media (768px <= width < 1024px) {
  .footer__decorated-zone::before { 
    left: 20px;
    top: 5804px;
  }
}

@media (1024px <= width <= 2550px) {
  .footer__decorated-zone::before { 
    left: 20px;
    top: 4962px;
  }
}

.footer__decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  border-right: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  right: 10px;
  top: 6113px;
}

@media (768px <= width < 1024px) {
.footer__decorated-zone::after { 
    right: 20px;
    top: 4846px;
  }
}

@media (1024px <= width <= 2550px) {
  .footer__decorated-zone::after { 
    right: 20px;
    top: 4260px;
  }
}

